thead {
  background-color: greenyellow;
}
#logo-section {
  width: 100%;
  height: 150px;
}
#logo-img {
  display: block;
  margin: auto;
}
.main-section {
  margin: 30px;
  padding: 20px;
}

button {
  margin-left: 14px;
}
.align-right {
  float: right;
}
.sub-section {
  margin-top: 30px;
  margin-bottom: 10px;
}
#header {
  display: inline;
}
