thead {
  background-color: greenyellow;
}

#logo-img {
  height: 200px;
  display: block;
  margin: auto;
}
.main-section {
  margin: 30px;
  padding: 20px;
}

.btnEdit {
  margin-left: 3px;
}
.btnRemove {
  margin-left: 4px;
}
.align-right {
  float: right;
}
.sub-section {
  margin-top: 30px;
  margin-bottom: 10px;
}
#header {
  display: inline;
}
